﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" id="public_head">
	<meta charset="UTF-8">
	<title>梦学谷账单管理系统</title>
	<link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css"/>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader" id="public_header">
	<h1>梦学谷账单管理系统</h1>
	
	<div class="publicHeaderR">
		<p><span>下午好！</span><span style="color: #fff21b"> [[${session.loginUser.realName}]]</span> , 欢迎你！</p>
		<a th:href="@{/logout}" href="../main/login.html">退出</a>
	</div>
</header>
<!--时间-->
<section class="publicTime" id="public_time">
	<span id="time">2028年1月1日 11:11  星期一</span>
	<a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>

<!--**********************************************************************************************-->

<!--主体内容-->
<section class="publicMian ">
	<div class="left" id="public_left">
		<h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
		<nav>
			<ul class="list">
				<li th:id="${activeUri == 'bill' ? 'active' : ''}"><a th:href="@{/bills}" href="../bill/list.html">账单管理</a></li>
				<li th:id="${activeUri == 'provider' ? 'active' : ''}" id="active"><a th:href="@{/providers}" href="../provider/list.html">供应商管理</a></li>
				<li th:id="${activeUri == 'user' ? 'active' : ''}"><a th:href="@{/users}" href="../user/list.html">用户管理</a></li>
				<li th:id="${activeUri == 'pwd' ? 'active' : ''}"><a th:href="@{/user/pwd}" href="../main/password.html">密码修改</a></li>
				<li><a th:href="@{/logout}" href="../main/login.html">退出系统</a></li>
			</ul>
		</nav>
	</div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post" id="deleteForm">
	<input type="hidden" name="_method" value="delete">
	<div class="remove" id="removeProv">
		<div class="removerChid">
			<h2>提示</h2>
			<div class="removeMain">
				<p>你确定要删除吗？</p>
				<a href="#" id="yes">确定</a>
				<a href="#" id="no">取消</a>
			</div>
		</div>
	</div>
</form>


<footer class="footer" id="public_footer">
	<div style="text-align:center;"><p><a href="http://www.mengxuegu.com/" target="_blank">梦学谷 www.mengxuegu.com</a>
		版权所有</p></div>
</footer>

</body>
</html>