<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">

</section>
<!--主体内容-->
<section class="publicMian ">
	<div class="left" th:replace="main/public :: #public_left(activeUri='provider')">
	
	</div>
	<div class="right">
		<div class="location">
			<strong>你现在所在的位置是:</strong>
			<span>供应商管理页面 >> 信息查看</span>
		</div>
		<div class="providerView">
			<p><strong>供应商编码：</strong><span th:text="${provider.pid}">PRO-CODE—001</span></p>
			<p><strong>供应商名称：</strong><span th:text="${provider.providerName}">测试供应商001</span></p>
			<p><strong>联系人：</strong><span th:text="${provider.people}">韩露</span></p>
			<p><strong>联系电话：</strong><span th:text="${provider.phone}">15918230478</span></p>
			<p><strong>传真：</strong><span th:text="${provider.fax}">15918230478</span></p>
			<p><strong>描述：</strong><span th:text="${provider.describe}">描述</span></p>
			
			<a th:href="@{/providers}" href="list.html">返回</a>
		</div>
	</div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">

</footer>
<!--在pom文件引入webjars依赖-->

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>