<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../css/public.css}">
    <link rel="stylesheet" th:href="@{../../css/purchase.css}">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="topHeader" th:replace="main/public :: #top_header"></div>
<h5>当前位置：主页 》抢购现场</h5>
<div id="publicHeader" th:replace="main/public :: #public_header"></div>

<div class="container" style="margin-top: 30px">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img style="width: 340px; height: 220px" alt="240x200" th:src="'../img/' + ${seckill.image}" />
        </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="albumFormat">
                    <img style="width: 24px; height: 24px" src="../img/logo/hires.jpg"> <span id="hiRes"> Hi-Res | </span><span>DSD64 | </span><span>2.8MHz/1bit</span>
                </div>
                <h4 th:text="${seckill.title}"></h4>
                <h4 th:text="'￥：' + ${seckill.price}"></h4>
                <h6 th:text="${#dates.format(seckill.startTime, 'yyyy-MM-dd HH:mm:ss')}"></h6>
<!--                <h3 style="color: #c7254e" th:text="'抢购开启时间：' + ${seckill.startTime}"></h3>-->
                <h4 style="color: #c7254e">距离抢购开启：[[${#dates.format(seckill.startTime, 'yyyy-MM-dd HH:mm:ss')}]]</h4>
<!--                <h4 th:text="'抢购结束时间：' + ${seckill.endTime}"></h4>-->
                <h5>活动关闭：[[${#dates.format(seckill.endTime, 'yyyy-MM-dd HH:mm:ss')}]]</h5>
                <h4 th:text="'剩余库存：' + ${seckill.stockCount}"></h4>
                <div class="text-center">
                    <div style="color: #ff0000d9;">
                        <h2>
                            <span id="seckill-time-span"></span>
                            <br/>
                            <br/>
                            <span id="seckill-box"></span>
                        </h2>
                    </div>
                </div>
            </div>

    </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <blockquote>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    </p> <small>Someone famous <cite>Source Title</cite></small>
                </blockquote>
            </div>
        </div>

    <div class="row clearfix" style="margin-top: 2px">
        <div class="col-md-8 column">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">简介</a>
                </li>
                <li class="disabled">
                    <a href="#">信息</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li>
                            <a href="#">设置栏目</a>
                        </li>
                        <li>
                            <a href="#">更多设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">分割线</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr/>
            <span>民歌的本质是形式上的简朴，这张唱片广泛的挑选了原创和改编的民歌，并以一种巧妙而率直的方式呈现。

——《Sunday Times》, 2013年2月</span>
        </div>
        <div class="col-md-4 column">
            <div class="media">
                <a href="#" class="pull-left"><img class="media-object" alt='' /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Nested media heading
                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <div class="media">
                        <a href="#" class="pull-left"><img class="media-object" alt='' /></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested media heading
                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--登录弹出层 输入电话-->
    <div id="killPhoneModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">
                        <span class="fa fa-phone fa-fw"> </span>抢购手机号码:
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <input type="text" name="killPhone" id="killPhoneKey"
                                   placeholder="请输入电话号码" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--验证信息-->
                    <span id="killPhoneMessage" style="margin-right: 40%;"></span>
                    <button type="button" id="killPhoneBtn" class="btn btn-success">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!--<script type="text/javascript" th:src="@{jquery-3.3.1.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/bootstarp.min.js}"></script>-->
<script type="text/javascript" th:src="@{../js/countdown.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{../js/purchase_view.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        //使用表达式传入参数
        seckill.detail.init({
            seckillId: [[${seckill.seckillId}]],
            startTime: [[${seckill.startTime.time}]],//毫秒
            endTime: [[${seckill.endTime.time}]],
            money: [[${seckill.costPrice}]] //秒杀价钱
        });
    });
</script>

<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>