<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">

</section>
<!--主体内容-->
<section class="publicMian ">
	<div class="left" th:replace="main/public :: #public_left(activeUri='user')">
	</div>
	<div class="right">
		<div class="location">
			<strong>你现在所在的位置是:</strong>
			<span>用户管理页面</span>
		</div>
		<form id="searchForm" th:action="@{/users}" th:method="get" >
			<div class="search">
				<span>用户名：</span>
				<input type="text" th:value="${username}" name="username" placeholder="请输入用户名"/>
				<input type="button" value="查询" onclick="$('#searchForm').submit()"/>
				<a th:href="@{/user}" href="add.html">添加用户</a>
			</div>
		</form>
		
		<!--用户-->
		<table class="providerTable" cellpadding="0" cellspacing="0">
			<tr class="firstTr">
				<th width="10%">用户名</th>
				<th width="20%">真实姓名</th>
				<th width="10%">性别</th>
				<th width="10%">出生日期</th>
				<th width="10%">用户类型</th>
				<th width="30%">操作</th>
			</tr>
			<tr th:each="u : ${users}">
				<td th:text="${u.username}">hanlu</td>
				<td th:text="${u.realName}">韩露</td>
				<!--性别：1 女  2 男-->
				<td th:text="${u.gender == 1 ? '女' : '男'}">女</td>
				<td th:text="${#dates.format(u.birthday, 'yyyy-MM-dd')}">1989/10/10</td>
				<!--1管理员  2经理  3普通用户-->
				<td th:text="${u.userType==1 ? '管理员' : (u.userType==2 ? '经理' : '普通用户') }">经理</td>
				<td>
					<a th:href="@{/user/} + ${u.id}" href="view.html"><img th:src="@{/img/read.png}" src="../img/read.png" alt="查看" title="查看"/></a>
					<a th:href="@{/user/} + ${u.id} +'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  src="../img/xiugai.png" alt="修改" title="修改"/></a>
					<a th:attr="del_uri=@{/user/}+${u.id}"  href="#" class="delete" ><img th:src="@{/img/schu.png}"  src="../img/schu.png" alt="删除" title="删除"/></a>
				</td>
			</tr>
		</table>
	</div>
</section>


<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post" id="deleteForm">
	<input type="hidden" name="_method" value="delete">
	<div class="remove" id="removeProv">
		<div class="removerChid">
			<h2>提示</h2>
			<div class="removeMain" >
				<p>你确定要删除吗？</p>
				<a href="#" id="yes">确定</a>
				<a href="#" id="no">取消</a>
			</div>
		</div>
	</div>
</form>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>


<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>